# This is the user space: configure the variables according to your needs

# Number of root files to hadd simultaneously
Nlines=200

# Maximal number of sbatch jobs to submit in an array
NmaxSimultaneouslyRunning=200
